*.sh
**/__pycache__
**/.idea
**/test_input*
**/debug.txt
**/*part1_layout_result.txt
*.sln
*.vcxproj
*.filters
*output.txt
*output2.txt

python/year2022/pt2_stash.txt

cpp/.vs
cpp/bin
cpp/bin-debug
cpp/Advent_Of_Code.vcxproj.user
cpp/obj
cpp/Makefile

other/*
cs/*
unstable/rust/*
unstable/*
inputs/*
test_inputs/*

